[2021-03-06 15:46] sudipg4112001 opened #2 "Mask Detection"
I would like to add a project for mask detection. To be more precise, I would use datasets which contains multiple images and would detect whether the person is wearing mask or not. Then, determine the total number of person wearing and not wearing  mask.
I am a participant of GSSOC'21

[2021-03-06 15:53] DARK-art108 commented on #2
Buddy Come to discussion forums first we will discusss and then work upon it @sudipg4112001

[2021-03-06 15:55] sudipg4112001 commented on #2
Okay..!! Please provide me the link

[2021-03-06 15:59] DARK-art108 commented on #2
Yeah buddy see after the pr tab you will find a tab.of discussions come their

[2021-03-06 16:10] sudipg4112001 commented on #2
Yeah, I have started a discussion there.. let's start

[2021-03-06 16:59] sudipg4112001 commented on #2
Assign me this issue. So, that I can make the PR

[2021-03-07 09:48] sudipg4112001 commented on #2
Hey..!! Please assign so I can start we had discussions related to this at the discussion forum #4

[2021-03-08 15:53] ritikasharma99 commented on #2
Hi I am GSSOC participant. I would like to work on this issue. Can you please assign it to me?

[2021-03-08 16:46] DARK-art108 opened #5 "Implement Image Classification using AWS Sagemaker"
**Task#1**
* Make use of AWS Sagemaker Autopilot, to create an Image Classification Pipeline

[2021-03-08 16:56] DARK-art108 opened #6 "Automatic Number Plate Detection using Google Tessaract and TFOD"
**Task#1**

* Implement ANPR make sure it uses Colab or Kaggle Kernels so that anyone can execute it with limited resources.

[2021-03-08 17:15] DARK-art108 opened #7 "Implement Tiger Detection in Wild [Object Detection]"
**Detect Tiger from the wild Environment**

Models can be used:
* Faster-RCNN
* SSD
* YoloV3/V4/V5

**Dataset:**  https://storage.googleapis.com/openimages/web/index.html [Download From Hereafter filtering]
**Refer to this YT channel for YoloV5 custom Training**
https://www.youtube.com/channel/UCrydcKaojc44XnuXrfhlV8Q

[2021-03-09 02:54] animesh-007 commented on #7
@DARK-art108 I would love to work on this with Yolov5. Can you assign me?

[2021-03-09 12:10] sudipg4112001 commented on #2
This issue is not assigned till now

[2021-03-09 12:39] NitiKaur opened #8 "Emotion Recognition"
Hey.Please assign this issue to me.I want to make a detailed documentation on this task using deep learning algorithms

[2021-03-09 14:20] Sloth-Panda opened #9 "addition of code of conduct file"
There is no code of conduct file so would like to add one please assign it to me @DARK-art108
please assign it to me under gssoc'21

[2021-03-09 14:21] Sloth-Panda opened #10 "welcome bot"
this bot basically welcomes and greets someone who open their first issue or make their first pr in a repo.

you can download the bot from here
https://github.com/apps/welcome

and another extra file needs to be added to set the custom messages

please assign it to me under gssoc'21

[2021-03-09 14:22] Sloth-Panda opened #11 "issue and pr templates"
This project lacks issue and pr templates so would like to add those please assign it to me under gssoc'21 @DARK-art108

[2021-03-09 15:22] DARK-art108 commented on #8
Our org is majorly dealing with the Detection, segmentation, and NLP tasks. So you can take a look at open issues and work on them. @NitiKaur

[2021-03-09 15:22] #8 closed

[2021-03-09 18:34] riyalamba07 commented on #7
Hi , I am a GSsoc'21 participant. I would like to work on this issue. Will you please assign this issue to me?

[2021-03-09 18:40] riyalamba07 commented on #5
Hi , I am a GSsoc'21 participant. Will you please assign this issue to me?

[2021-03-09 18:42] riyalamba07 commented on #6
Hi , I am a GSsoc'21 participant. I would like to work on this issue. Will you please assign it to me?

[2021-03-10 06:29] kcoder63 opened #13 "add all contributors bot"
add all contributors bot to display the contributors of this project on README

[2021-03-10 09:04] DARK-art108 commented on #13
Please Go Ahead!! @kcoder63

[2021-03-10 09:06] DARK-art108 commented on #10
Go Ahead @Sloth-Panda

[2021-03-10 09:08] sudipg4112001 commented on #2
Thanks

[2021-03-10 09:09] DARK-art108 commented on #7
Go Ahead @animesh-007 :)

[2021-03-10 09:10] DARK-art108 commented on #7
You can take a look at other issues. @riyalamba07

[2021-03-10 09:11] #9 closed

[2021-03-10 09:11] #11 closed

[2021-03-10 12:54] Sloth-Panda commented on #9
@DARK-art108 is not it required?

[2021-03-10 12:55] DARK-art108 commented on #9
I am handling that feature so I have closed it,I have assigned one issue you can work over it.@Sloth-Panda

[2021-03-10 13:15] kcoder63 commented on #13
it needs to be installed by the project maintainer, I dont have access for it

[2021-03-10 14:08] DARK-art108 commented on #10
Thanks for Contributing @Sloth-Panda

[2021-03-10 14:08] #10 closed

[2021-03-10 14:17] DARK-art108 commented on #10
@all-contributors please add @Sloth-Panda for GreetBot

[2021-03-10 14:18] DARK-art108 commented on #10
@all-contributors please add @Sloth-Panda for Design

[2021-03-10 14:21] DARK-art108 commented on #13
Thanks for Getting this awesome Idea @kcoder63 :)

[2021-03-10 14:21] #13 closed

[2021-03-10 14:25] DARK-art108 opened #16 "Implement Playing Card Detection"
**Task#1**

* Must use Google Collab
* Annotated Dataset is Present Publicy search in Kaggle.

[2021-03-10 14:29] DARK-art108 opened #17 "Implement Brand Detection from BillBoards using Yolo"
Detect the different brands like Starbucks, McDonald's, and others.The model will be trained on a custom Annotated Dataset Scraped from google. Use collab notebook for the task.

[2021-03-10 15:01] DARK-art108 opened #18 "Need a Documentation Website using Docsaurus"
* We need a website which is particularly a Doc website similar to which we have in other orgs like Red Hat and others.
* https://docusaurus.io/

[2021-03-11 05:51] #2 closed

[2021-03-11 09:30] DARK-art108 commented on #18
Yeah @shikharcodes we are only having three pages a landing page with logo and a tag line, the above nav bar should have only the doc tab, that's it.

[2021-03-11 15:59] Dhanush2612 opened #21 "Face Recognition"
Python programs to capture a user's face and generate dataset. Then detect and recognize the user's face by using opencv.

[2021-03-11 15:59] Dhanush2612 commented on #21
Please assign me this issue if its worth adding in this repo.

[2021-03-11 16:36] mekaustubh28 commented on #6
Hi, I am GSSoC'21 participant. I would like to work on this issue. Will you please assign it to me?

[2021-03-11 16:47] Pranjal-2001 commented on #5
Hey! could you please assign it to me? I am a GSSOC participant.

[2021-03-11 18:38] mekaustubh28 commented on #17
I am a GSSoC'21 Participant and wanted to work on this issue....plz assign me this issue.

[2021-03-12 03:56] DARK-art108 commented on #18
@shikharcodes check out https://www.sphinx-doc.org/en/master/ it is much easier then docsaures.

[2021-03-12 04:25] Rishikeshrajrxl commented on #21
@dhanush2612 , go ahead with this issue and don't forget to add a Gif to the ReadMe.md file.

[2021-03-12 12:05] rohank2502 opened #22 "Update contributor section in read me"
I will like to  add a feature will which keep the contributor section In read me update the list of contributors automatically !!

[2021-03-12 14:20] aqua0 commented on #21
Can i also work on this issue?

If yes please assign this to me as well.

[2021-03-12 14:21] aqua0 commented on #6
Hi, please assign this to me i am gssoc participant as well.
Can two people work on one issue?

[2021-03-12 17:04] DARK-art108 commented on #22
@rohank2502 go ahead raise PR.

[2021-03-12 17:07] DARK-art108 commented on #21
@aqua0 go-ahead!! :)

[2021-03-12 17:08] DARK-art108 commented on #21
@aqua0 @Dhanush2612 We will merge the PR after reviewing it, so go ahead and raise the PR.

[2021-03-12 17:09] DARK-art108 commented on #7
@animesh-007 what's the status of this? Are you working on it. Any Updates.

[2021-03-12 17:14] animesh-007 commented on #7
Yes. I'm working on this. You can check to see the progress from the colab notebook.
[Colab Link](https://colab.research.google.com/drive/1aIH7xVRIxtQLqr88YCfoZk7QWUcCHeIN?usp=sharing)

[2021-03-12 17:15] khareyash05 opened #23 "update contributing.md"
hey I would like to add the following on contributing.md
1. Update local and forked repo as changes are made in the upstream
2. Squashing the commits into one single commit for easy merging
I would like to do this under GSSOC'21

[2021-03-12 19:08] animesh-007 commented on #7
@DARK-art108 My code is ready now. Could you guide me on what should I keep in my PR for this?

- [ ] Should I raise a PR containing only colab notebook?
- [ ] Should I raise a PR containing the code of yolov5?
- [ ] Should I raise a PR containing code and colab notebook both?

[2021-03-12 20:22] arnab031 opened #24 "Build a Classification Model for COVID-19 Radiography Dataset"
**Statement.**
Here a dataset has collected from kaggle. Here is the link - https://www.kaggle.com/tawsifurrahman/covid19-radiography-database . Here we get different images of  X-Ray. We can say from X-Ray is it Covid-19 or Viral Pneumonia or Normal fever.

**Solution**
Here we build a model for classification using Pytorch. Afterwards we will calculate validation accuracy for test dataset and al

[2021-03-12 20:24] arnab031 commented on #24
As a GSSOC21 Participant , I would like to work on this issue. @DARK-art108

[2021-03-13 03:25] Rishikeshrajrxl commented on #24
@arnab031, go ahead.

[2021-03-13 04:03] DARK-art108 commented on #24
@arnab031 Add one Directory of Cllasification_Zoo, Where we can add all solutions for the classification tasks.

[2021-03-13 04:07] DARK-art108 commented on #23
Go Ahead @khareyash05

[2021-03-13 04:08] DARK-art108 commented on #7
raise a PR containing code and collab notebook both @animesh-007

[2021-03-13 04:58] mekaustubh28 commented on #16
Hi I am GSSoC participants ....and I would like to work on this issue....I can detect playing card using OpenCV or YOLO.
Plz assign me to this.

[2021-03-13 05:47] mekaustubh28 commented on #17
/assign

[2021-03-13 06:58] JadeMaveric opened #25 "ELMo word vectors"
Hello, I noticed the ELMo checkbox was unticked in the README. I've been working with ELMo and would like to contribute (as part of gssoc21).
What is required for a successful submission, an example notebook where it is used?

[2021-03-13 08:03] DARK-art108 commented on #25
Yeah we have opened that working with Elmo task a long back but we don't need it currently, if you can build a model for filling the masked word using Roberta [Hugging face] it would be nice

[2021-03-13 12:04] aqua0 commented on #21
Thank you @DARK-art108

[2021-03-13 12:06] aqua0 commented on #21
@DARK-art108 Should we do this separately or together sir?
If yes how can i get in touch with @Dhanush2612 .
I am a gssoc'21 participant.

[2021-03-13 12:21] DARK-art108 commented on #21
you should do separately @aqua0

[2021-03-13 16:51] prathimacode-hub commented on #21
Hey, I'm a GSSOC21 participant. I would like to work on this issue. Can you assign it to me?

[2021-03-13 18:10] prithwirajmitra2001 commented on #6
I am a GSSOC participant. Please assign me this task. Would be happy to contribute.

[2021-03-14 05:15] #24 closed

[2021-03-14 05:36] DARK-art108 commented on #23
Thanks for Contributing :)

[2021-03-14 05:36] #23 closed

[2021-03-14 14:17] arnab031 opened #32 "Update Readme.md"
**Describe the bug**
Model name is wrong under Classification Model's

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://github.com/CoinShift-Imaging/CoinShift-Imaging-Box'
2. Click on 'Readme.md'
3. Scroll down to 'Classification Model's'
4. See error

**Expected behavior**
Model name should be resnet18

**Screenshots**
![Screenshot 2021-03-14 194247](https://user-images.githubu

[2021-03-14 18:27] animesh-007 commented on #17
@avats-dev Could you go through the following link it might help you.
[Create Labels](https://github.com/ultralytics/yolov5/wiki/Train-Custom-Data#2-create-labels)

[2021-03-15 05:40] kad99kev opened #34 "Implementing GPT1 and GPT2"
Hello!

Under the NLP Models, I noticed that GPT1 and GPT2 are unticked. Do you have a specific use in mind for these models? I would like to work with them as part of GSSOC 2021. Thanks!

[2021-03-15 05:55] DARK-art108 commented on #34
Yeah please do Text Generation using GPT2 :) @kad99kev

[2021-03-15 06:27] kad99kev commented on #34
Would you like me to fine-tune it on any particular dataset or only use the pretrained model?

[2021-03-15 06:34] DARK-art108 commented on #34
Fine-tuning would be good on any dataset @kad99kev

[2021-03-15 06:56] Aayush-hub opened #37 "Add github action to auto label issues"
**Is your feature request related to a problem? Please describe.**
Add github action to auto labels issues with gssoc21 label when contributor asks to work on the issue under gssoc label.

[2021-03-15 08:43] DARK-art108 commented on #37
@Aayush-hub Go Ahead

[2021-03-15 08:44] DARK-art108 commented on #32
@arnab031 go ahead :)

[2021-03-15 10:01] ELITA04 opened #38 "Implementing GAN and CGAN architecture"
Hello, I am a GSSOC'21 participant and I want add the GAN and CGAN architectures trained on MNIST data in the folder https://github.com/CoinShift-Imaging/CoinShift-Imaging-Box/tree/main/GANS.

I will add the notebooks and a readme explaining the same.

Could you please assign it to me?

[2021-03-15 11:41] DARK-art108 commented on #38
Please Go ahead @ELITA04 :)

[2021-03-15 11:50] #22 closed

[2021-03-15 12:04] #37 closed

[2021-03-15 12:05] Aayush-hub opened #42 "Add Pull Request Template"
**Is your feature request related to a problem?
Add pull request template for contributers reference and message to follow contributors guidelines.

[2021-03-16 05:47] aqua0 commented on #21
@DARK-art108 I am done with the recognition part working on the first part now

[2021-03-16 05:50] Dhanush2612 commented on #21
@DARK-art108 I am done with face recognition part, all I have to do is create readme file. I will complete my PR tomorrow.

[2021-03-16 10:32] #38 closed

[2021-03-16 13:53] JadeMaveric commented on #25
Hey @DARK-art108 I've been working on the [notebook](https://www.kaggle.com/juliusalphonso/filling-in-masked-words-with-roberta). Please let me know if I should add anything more, like fine tuning the model.

[2021-03-17 08:09] DARK-art108 commented on #25
Awesome work :) Please raise PR when it is done :)

[2021-03-17 08:09] DARK-art108 commented on #25
@JadeMaveric

[2021-03-17 08:17] JadeMaveric commented on #25
@DARK-art108 do you think it's fine in its current state? Or should add fine tuning?

[2021-03-17 08:20] DARK-art108 commented on #25
It would be better if you add fine tuning on some dataset. :) @JadeMaveric

[2021-03-18 05:09] sudipg4112001 opened #49 "Brain tumor Classification"
I would like to add a project for brain tumor analysis. Here, I would use datasets containing images of the brain, from which I would detect whether a person is having brain tumor or not. And, then also classify the type of tumor.

[2021-03-19 08:09] Rishikeshrajrxl commented on #49
@sudipg4112001, go ahead.

[2021-03-19 17:41] #34 closed

[2021-03-21 03:55] NEERAJAP2001 opened #50 "Classifying imagenet images using DL"
Tasks Include :

Create a Vgg-19 Model for classifying imagenet images

Create a simple web app with Flask and Html/CSS/Js

Upload an image to predict the class of the image.

Dataset-[Here](https://www.tensorflow.org/datasets/catalog/imagenet2012)

The dataset will be loaded in the code itself, We do not require any manual downloading as it's huge around 15GB.

It has over 200 classes with 100k+

[2021-03-22 03:29] NEERAJAP2001 commented on #50
@Rishikeshrajrxl If you think this issue is accurate enough, I can start working on it.
Thanks

[2021-03-22 15:57] DARK-art108 commented on #50
Please go ahead @NEERAJAP2001 Make sure you add this whole thing into a folder and then add this folder into a classification folder[already present in repo]  :) also push some images of dataset :)

[2021-03-22 15:58] #32 closed

[2021-03-22 15:59] DARK-art108 commented on #17
Anyone working on it :) @avats-dev @animesh-007

[2021-03-22 15:59] #21 closed

[2021-03-22 16:02] DARK-art108 opened #54 "Pothholes Detection using Mask-RCNN"
Task#1

## The above problem is of Segmentation
## Dataset: Google Open API/OIDV4 Tool

[2021-03-22 16:05] DARK-art108 opened #55 "Custom ChatBot over Restaurant Conversation using RASA NLU"
* Create ChatBot using RASA
* Select appropriate Slot-fillers
* Intent Classifier

[2021-03-22 18:26] Srijan0519 commented on #55
Hello sir. I believe I would be able to make one. Can you assign this issue to me??

[2021-03-23 03:32] #49 closed

[2021-03-23 06:11] nandinib1999 commented on #54
I would like to work on this issue, can you please assign it to me?

[2021-03-24 04:50] Rishikeshrajrxl commented on #5
@riyalamba07, go ahead.

[2021-03-24 04:52] Rishikeshrajrxl commented on #6
@prithwirajmitra2001, go ahead.

[2021-03-25 05:54] NEERAJAP2001 opened #59 "Brand Classification using DL"
Create a Car Brand Classification Project
Tasks:
* Uses Deep learning to detect car brands
* I'm assuming to solve this using resnet50( transfer learning ) but let's see how it goes.
* Dataset consists of  Images of 3 different brands ( I'll give the dataset  for download in a separate folder)
* Add flask backend for web app

It will be added as part of [Folder](https://github.com/CoinShift-Imagin

[2021-03-26 15:58] #25 closed

[2021-03-27 06:04] NEERAJAP2001 commented on #59
@DARK-art108 if you think this issue is accurate enough, then I can start working.
Thoughts?

[2021-03-27 06:05] #50 closed

[2021-03-27 06:27] DARK-art108 commented on #59
@NEERAJAP2001 Go ahead :)

[2021-03-27 20:17] sayan9112 opened #60 "<GSSoC'21> Iris Detection"
Hi admin, Sayan here. I'm GSSoC'21 participant. I want to contribute in your project as it is more insightful.

I want to add a new feature "Iris Detection".
I've implemented it already.
Please assign me to this issue so I can contribute.

[2021-03-30 04:07] NEERAJAP2001 opened #62 "Add Emotion Recognition under NLP Folder"
Hello!! I have an NLP-based Project Idea.
Problem statement: Emotion Recogniser using NLP
I've been working on this already would be happy to add this project here.
Here is a [glimpse](https://github.com/NEERAJAP2001/EmoRec)

I'd Like to work on this issue as part of GSSoC'21.

Thanks.

[2021-03-31 18:53] shrutayyyy commented on #55
Hi! I am interested in working on this issue, plus I've experience in and enjoy making chatbots, could you please assign this to me? Thank you!

[2021-04-01 03:57] #59 closed

[2021-04-01 05:13] JadeMaveric opened #63 "Open in Colab badge"
**Is your feature request related to a problem? Please describe.**
I've noticed several notebooks on github have an "Open in Colab" badge that let's viewers quickly setup and experiment with the code. I think this would be a super useful feature.

**Describe the solution you'd like**
1. Use the [ColabBadge](https://github.com/marketplace/actions/colab-badge-action) Action (repo maintainer will nee

[2021-04-01 14:05] prithwirajmitra2001 opened #64 "Automatic Number Plate Detection using YOLO and Google Tesseract"
Would like to work on this issue using either in google colab or kaggle notebooks for better use for everyone.
Please assign me this project as part of GSSOC'21

[2021-04-02 07:58] NEERAJAP2001 commented on #62
@DARK-art108  Can I start working on this issue?

[2021-04-03 02:40] Rishikeshrajrxl commented on #60
@sayan9112 go ahead..

[2021-04-03 02:42] Rishikeshrajrxl commented on #64
@prithwirajmitra2001 go ahead...

[2021-04-03 02:42] Rishikeshrajrxl commented on #54
@nandinib1999 go ahead..

[2021-04-03 02:43] Rishikeshrajrxl commented on #16
@kanak8278 go ahead...

[2021-04-03 02:44] Rishikeshrajrxl commented on #16
@mekaustubh28, go-ahead

[2021-04-03 15:33] Rishikeshrajrxl commented on #5
@riyalamba07  you are taking much time to do this issue, it is just a reminder. Please submit if done.

[2021-04-03 16:38] AM1CODES opened #65 "New Project Idea : Human Emotion detection"
Hey, so i am a little new to the project and was not exactly sure if the addition that i wished to make went hand in hand with the overall goal of this project but a few days earlier i was working on a project which required me to detect human emotions. The model was built using the Kaggle notebooks and the data set that i used was FER2013 competition data. So it would be great if you could let me

[2021-04-06 12:27] anirudhsai20 opened #66 "Grammatical errors in the Readme file"
There are a lot of grammatical errors in the Readme file that needs correction.

[2021-04-06 12:28] anirudhsai20 commented on #66
Hi! Please assign this issue to me under GSSOC.

[2021-04-06 14:10] sudipg4112001 opened #67 "Template matching"
I would like to add a project for template matching. One template will be taken and will be checked wheather it is in the input image.

[2021-04-06 16:45] sudipg4112001 commented on #67
Please assign

[2021-04-07 05:23] Rishikeshrajrxl commented on #67
@sudipg4112001, please specify the kind  of template.

[2021-04-07 05:28] sudipg4112001 commented on #67
One small image as a template ( This will be part of the original image), then check wheather the template is available in the original image or not

[2021-04-07 06:02] Rishikeshrajrxl commented on #67
@sudipg4112001 , go ahead

[2021-04-07 06:03] Rishikeshrajrxl commented on #66
@anirudhsai20, please specify the Readme file having error.

[2021-04-07 09:03] anirudhsai20 commented on #66
This file : https://github.com/CoinShift-Imaging/CoinShift-Imaging-Box#readme (The main Readme file)

[2021-04-07 19:24] saidrishya opened #69 "Super Resolution GANs"
Hi, I am a GSSOC participant, can you assign me this feature to implement the code.

[2021-04-08 04:11] NEERAJAP2001 opened #70 "Project : Using DCGAN To Generate Celebs Faces."
I'd Like to add Generating Face Project.
I would be using [This](http://mmlab.ie.cuhk.edu.hk/projects/CelebA.html) Data set to generate faces of celebrities using DCGAN.( will be following the total pipeline)

Describe the solution you'd like
In this project, I'll define and train a DCGAN on a dataset of faces. the goal is to get a generator network to generate new images of faces that look as rea

[2021-04-08 04:16] #62 closed

[2021-04-08 04:39] Rishikeshrajrxl commented on #69
@saidrishya, please write a proper proposal for the issue that you are creating.

[2021-04-08 04:40] Rishikeshrajrxl commented on #70
@NEERAJAP2001, go ahead.

[2021-04-08 04:41] Rishikeshrajrxl commented on #5
Go ahead with this issue.

[2021-04-08 04:43] Rishikeshrajrxl commented on #6
@aqua0 go ahead.

[2021-04-08 05:21] aqua0 commented on #6
Thank you

[2021-04-08 05:24] aqua0 commented on #6
Could you please change the labels of this issue.
I am a gssoc participant that's why.
Thank you

[2021-04-08 08:43] sudipg4112001 opened #71 "Ludo game"
I would like to add a project for Ludo game in python.

[2021-04-08 15:46] Rishikeshrajrxl commented on #42
@Aayush-hub, I am closing this issue for this time, In future try to create a valid one.

[2021-04-08 15:46] #42 closed

[2021-04-08 15:49] Rishikeshrajrxl commented on #71
@sudipg4112001, This is not a proper repository for your project. Before creating an issue please read the project description. Closing your issue for this time.

[2021-04-08 15:49] #71 closed

[2021-04-08 16:16] Rishikeshrajrxl commented on #55
@Srijan0519, go ahead

[2021-04-08 16:16] Rishikeshrajrxl commented on #55
@shrutayyyy, go ahead.

[2021-04-08 16:17] Rishikeshrajrxl commented on #54
@nandinib1999, please give us the update for this issue.

[2021-04-08 19:12] sudipg4112001 commented on #65
I want to work on this issues.

[2021-04-09 05:14] Divya871 commented on #66
Hi,please assign this issue to me under GSSOC.Thanks.

[2021-04-09 13:31] priyanshuone6 commented on #63
Hey, could you please assign this issue to me?

[2021-04-09 17:13] #67 closed

[2021-04-09 18:24] sudipg4112001 opened #72 "Blurring face"
I would like to add a project for blurring face. Here, I would detect face and then blur it.

[2021-04-09 18:40] Rishikeshrajrxl commented on #72
@sudipg4112001, explain the algorithm you will be using.

[2021-04-09 18:43] nandinib1999 commented on #54
Hi, I will need a few more days to send PR for this. If there is someone else willing to do this, please assign it to them

[2021-04-09 18:54] sudipg4112001 commented on #72
The first step is to perform face detection. In this case, I will use Deep Learning Face Detection of OpenCV. After the face is detected, the ROI is extracted. Then various blurring techniques like Gaussian Blur and Pixelated Blur are applied. The last step involves adding the blurred face to the original image.

Technologies Used
OpenCV, Python 3, OneAPI.

[2021-04-09 19:02] sudipg4112001 commented on #72
Please mention whether to upload .py file or .ipyb file if this issue is assigned to me

[2021-04-10 06:36] Rishikeshrajrxl commented on #72
You can upload  . py file.

[2021-04-10 06:36] Rishikeshrajrxl commented on #72
@sudipg4112001, go ahead

[2021-04-10 18:48] anubhav201241 opened #75 "FACE_EYE_DETECTION"
Hi, I'm a Gssoc'21 Participant I would love to contribute to your  project
I want to contribute the face_detection part to your repository in which I would like to add the face, eye, and nose detection part with the help of open-cv and python.

@Rishikeshrajrxl   Kindly Please assign this part to me.

[2021-04-12 03:19] sudipg4112001 opened #76 "Background removal"
I would like to add a project for background removal from a image.

Example: a image of person with garden in the background, after implementation of this feature we will have only the person parts of the garden would be removed.

[2021-04-12 03:20] #72 closed

[2021-04-12 03:21] #70 closed

[2021-04-12 03:22] Rishikeshrajrxl commented on #75
@anubhav201241, go ahead

[2021-04-12 03:24] Rishikeshrajrxl commented on #76
@sudipg4112001, Your issue is not in this project domain. For now I am closing this issue.

[2021-04-12 03:24] #76 closed

[2021-04-12 03:25] Rishikeshrajrxl commented on #65
@sudipg4112001, go ahead

[2021-04-12 03:27] Rishikeshrajrxl commented on #65
@AM1CODES, Do you want to complete this? Let me know.

[2021-04-12 03:29] Rishikeshrajrxl commented on #66
@anirudhsai20, go ahead.

[2021-04-12 03:30] Rishikeshrajrxl commented on #60
@sayan9112, It's a reminder. Please submit your PR as soon as possible.

[2021-04-12 03:31] sudipg4112001 commented on #65
What should I make the PR or wait ??

[2021-04-12 03:31] AM1CODES commented on #65
@Rishikeshrajrxl Yea i would like to work on it. I had created the issue as i wanted to work on it.

[2021-04-12 03:34] Rishikeshrajrxl commented on #65
@AM1CODES, @sudipg4112001, You both will be doing this issue individually. and after submission, both will get the points

[2021-04-12 03:35] AM1CODES commented on #65
Okay. I will keep you updated on my progress.

[2021-04-12 03:36] Rishikeshrajrxl commented on #54
Fine, you need to complete it by this weekend.

[2021-04-12 03:39] sudipg4112001 commented on #65
Okay..

[2021-04-12 03:46] NEERAJAP2001 opened #77 "Mask Detection using EfficientnetB3"
On an additional note, I'd like to add a Live Webcam Feature to detect masks using EfficientNetB3.

# Architecture :

[code]

# Project Pipeline :

![face mask detection- mtcnn](https://user-images.githubusercontent.com/65017645/114337677-305cdf00-9b6f-11eb-8e22-f53bc57e3b7a.png)

I'd like to work on this issue as part of GSSOC-21 and this will be implemented into [This](https://github.com/CoinShi

[2021-04-12 04:22] JadeMaveric commented on #63
I'm guessing the maintainers are busy, I've been waiting forever to be assigned to this.

[2021-04-12 11:50] sayan9112 commented on #60
yes I'm working on it.
Due to midsems I was a little busy.

[2021-04-12 15:04] PragatiBhat commented on #66
I am  gssco21 participant can you please assign this to me?

[2021-04-12 15:06] PragatiBhat commented on #18
I am gssoc21 participant i want to work on this issue please let me know what needs to be done

[2021-04-12 15:29] Rishikeshrajrxl commented on #60
That's all fine, but please submit the task as soon as possible.

[2021-04-12 15:35] #66 closed

[2021-04-12 17:51] anubhav201241 commented on #75
Thank you sir :))

[2021-04-12 19:10] nandinib1999 commented on #54
Okay, thanks a lot!

[2021-04-14 15:36] sudipg4112001 opened #80 "Save the princess game"
I would like to add a project in Java.
It will be a game where player will rescue a princess from a grid, avoiding the obstacles.

[2021-04-14 15:45] sudipg4112001 opened #81 "Day or night mode"
I would like to add a python script.
Here, it will autodetect whether to click a click in day or night mode.

Input will be a grid of pixels and output will be day or night

[2021-04-14 15:51] DARK-art108 commented on #80
We are adding Computer Vision Projects and NLP!!

[2021-04-14 15:51] #80 closed

[2021-04-14 15:51] DARK-art108 commented on #81
Not adding Python Scripts only adding CV NLP and Detection model

[2021-04-14 15:51] #81 closed

[2021-04-14 15:52] DARK-art108 commented on #77
You can work upon it Go Ahead :)

[2021-04-14 15:53] DARK-art108 commented on #75
Any Updates!! :) @anubhav201241

[2021-04-14 15:54] DARK-art108 commented on #69
Explain the proposal then open it  :) Insufficient Information to work on

[2021-04-14 15:54] #69 closed

[2021-04-14 15:54] DARK-art108 commented on #64
Any Updates @prithwirajmitra2001

[2021-04-14 15:55] DARK-art108 commented on #60
Any Updates @sayan9112

[2021-04-14 15:55] prithwirajmitra2001 commented on #64
Facing problem with push project

[2021-04-14 15:56] DARK-art108 commented on #63
@JadeMaveric go ahead make sure you maintain the project structure

[2021-04-14 15:57] DARK-art108 commented on #16
Any Progress !! @mekaustubh28  @kanak8278

[2021-04-14 15:58] prithwirajmitra2001 commented on #64
@DARK-art108
Please check PR #82

[2021-04-14 15:59] #65 closed

[2021-04-14 16:00] #64 closed

[2021-04-14 16:06] sudipg4112001 opened #83 "Punctuation corrector"
I would like to add a project for punctuation corrector using NLP. Here, the punctuations given will be corrected from a set of data take as input.

[2021-04-15 03:34] sudipg4112001 opened #84 "Spam detection"
I would like to add a project for spam detection.
Here, I would take sample data from datasets and then detect whether it is a spam data or not.

[2021-04-15 08:28] anubhav201241 commented on #75
Yes sir sorry for delay :)

[2021-04-16 03:38] AM1CODES commented on #65
@Rishikeshrajrxl I haven't made the PR yet, so will there be an problem? because this issue has been closed and you allowed both of us to PR for this issue.

[2021-04-16 07:58] sayan9112 commented on #60
I'll submit it very soon

[2021-04-16 08:28] anubhav201241 commented on #75
@Rishikeshrajrxl Please review it

[2021-04-21 14:53] sudipg4112001 commented on #84
6 days has passed by... There is no discussion on this issue

[2021-04-21 14:54] sudipg4112001 commented on #83
6 days has passed by.. there is no discussion on this issue

[2021-04-21 14:54] sudipg4112001 commented on #83
6 days has passed by.. there is no discussion on this issue

[2021-04-22 03:55] anubhav201241 commented on #75
please review it

[2021-04-22 04:51] rajpratyush commented on #84
Can you describe what dataset are you going to use?

[2021-04-24 04:35] DARK-art108 opened #88 "Helmet Detection using TFOD/Faster-RCNN"
Detect Helmet from real-time traffic videos.

[2021-04-24 04:36] DARK-art108 opened #89 "Pose Detection using OpenCV"
Detect human pose using opencv

[2021-04-24 14:55] AshuKV commented on #88
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-04-30 06:30] MB2407 commented on #84
Can I work on this issue?

[2021-04-30 10:26] NEERAJAP2001 opened #90 "Add Implementation for Face detection using the YOLOv3"
ALGO: The YOLOv3 (You Only Look Once) is a state-of-the-art, real-time object detection algorithm. The published model recognizes 80 different objects in images and videos.

In this project, I will create a Face Detection Script using YOLOv3 Algorithm.

Dependencies

Tensorflow
opencv-python
opencv-contrib-python
Numpy
Keras
Matplotlib
Pillow
I'd Like to work on this issue as part of GSSOC-21.

[2021-05-04 14:17] KajalSinghBAGHEL opened #92 "Update README.md"
remove grammatical mistakes

[2021-05-04 14:17] KajalSinghBAGHEL commented on #92
I am a GSSOC participant. Can I work on this issue

[2021-05-06 10:17] #77 closed

[2021-05-06 17:06] Aparna-Sakshi opened #93 "Next word prediction using LSTM and BERT"
**Description**
Given a sequence of words, next k words will be predicted using
1) character-based LSTM models
2) word-based LSTM models
3) Transformer-based language model (i.e)BERT

After which I'll compare the performance of these models.
I am a GSSOC-21 participant, kindly assign this issue to me.

[2021-05-08 16:03] Rishikeshrajrxl commented on #90
@NEERAJAP2001 go ahead.

[2021-05-08 16:04] Rishikeshrajrxl commented on #93
@Aparna-Sakshi  go ahead.

[2021-05-08 16:06] Rishikeshrajrxl commented on #84
@sudipg4112001, please explain the model, Are you using any kind of object detection model?

[2021-05-11 10:11] Aparna-Sakshi commented on #93
I have made a pull request. Here is the link to it: https://github.com/CoinShift-Imaging/CoinShift-Imaging-Box/pull/94

[2021-05-15 05:36] noviicee commented on #89
I would like to take this up!!

[2021-05-15 12:44] NEERAJAP2001 opened #96 "Add Face Recognition using VGG-Face"
About: It is one of the most popular and widely used facial recognition models and recorded 98.78% accuracy for the Labeled Faces in the Wild dataset. It also had 68.17% accuracy on the masked-faced dataset called RMFRD.

Steps to follow in the project :

Step 1: Dataset acquisition
Step 2: Detect faces.(will be using dlib)
Step 3: Download and load VGG_face weights.
Step 4: Get embeddings for fac

[2021-05-16 18:04] sudipg4112001 opened #97 "Captcha generation"
I would like to add a project for captcha generation using CNN.

[2021-05-16 18:41] DARK-art108 commented on #97
Go Ahead! @sudipg4112001

[2021-05-16 18:44] DARK-art108 commented on #96
Go ahead @NEERAJAP2001

[2021-05-16 18:44] DARK-art108 commented on #92
Sorry we are not allowing no more Readme updates take a look at other issues :)

[2021-05-17 03:48] sudipg4112001 opened #99 "Stroke prediction"
I would like to add a project for stroke prediction. It will analyse the data and report patient is prone to have a stroke or not.

[2021-05-18 04:14] #99 closed

[2021-05-18 11:38] ainy-123 commented on #89
I am GSSoC'21 participant. I want to work on this issue.
I have worked with opencv, I can raise the PR on the same day of issue assignment.
Will you please assign this to me?

[2021-05-18 11:42] ainy-123 commented on #5
hello @Rishikeshrajrxl @DARK-art108 ,I am GSSoC'21 participant. I want to work on this issue.
 Will you please assign this to me?

[2021-05-18 13:47] rajpratyush commented on #89
@ainy-123 since @noviicee did not commented after 3 days. You can take up the issue

[2021-05-18 13:49] noviicee commented on #89
What did I need to comment?
I already asked if I could take it up and was waiting for it to get assigned.

[2021-05-18 13:54] ainy-123 commented on #89
thanks for assigning.

[2021-05-18 14:01] noviicee commented on #89
@ainy-123
I guess there has been a confusion regarding this issue so I request you to wait until the confusion is sorted out :)

[2021-05-18 14:30] rajpratyush opened #102 "Rainfall prediction and analysis of kaggle dataset"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
 prediction of rainfall in India  using machine learning
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any al

[2021-05-18 14:30] rajpratyush commented on #89
sorry for this confusion @ainy-123 would you like up this issue instead #102

[2021-05-18 14:33] rajpratyush opened #103 "House price prediction using visual and textual features"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
A machine learning pipeline which takes both textual and visual data of the house and predicts its price with the help of deep learning techniques.
**Describe the solution you'd like**
A clear and concise description of what you want to hap

[2021-05-18 14:34] ainy-123 commented on #89
okay. No issues. I will work on #102 .

[2021-05-18 14:35] ainy-123 commented on #102
@rajpratyush Kindly assign this to me under GSSoC'21.

[2021-05-18 14:38] rajpratyush commented on #102
sure there is one more issue if you want you can go through it #103 03

[2021-05-18 14:39] ainy-123 commented on #102
Sure,I will.

[2021-05-18 14:40] ainy-123 commented on #103
@rajpratyush Kindly assign this to me under GSSoC'21.

[2021-05-18 14:41] rajpratyush commented on #103
one issue at a time @ainy-123

[2021-05-18 14:42] ainy-123 commented on #103
Okay,after completing #102 .

[2021-05-18 14:43] rajpratyush commented on #103
yes

[2021-05-19 06:17] Rishikeshrajrxl commented on #5
@Pranjal-2001 you are taking more than enough time. sorry but I am unassigning this to you.

[2021-05-19 06:19] Rishikeshrajrxl commented on #5
@ainy-123  go ahead.

[2021-05-19 06:21] #96 closed

[2021-05-19 06:23] Rishikeshrajrxl commented on #88
@AshuKV  go ahead

[2021-05-19 06:24] #75 closed

[2021-05-19 10:45] #90 closed

[2021-05-19 10:54] NEERAJAP2001 opened #104 "Add Face Emotion Detection without a neural Network"
Problem Statement :
Given a data set consisting of facial images and their sketches, retrieve all images (real and /or sketch) which are similar to the given test image, along with attributes of the image such as expression.

Non-neural network approach:

* K Nearest Neighbours (with k = 5, minkowski distance with p = 2)
* Support Vector Machine (linear kernel)
* Naive Bayes (Gaussian with varianc

[2021-05-20 16:57] sudipg4112001 opened #105 "Parkinson's disease classification"
I would like to add a project for Parkinson's disease classification. Here, I would like to classify the type of the disease.

[2021-05-21 07:34] #105 closed

[2021-05-21 16:22] subhangi2731 commented on #103
@rajpratyush please assign me this issue I want to work on this

[2021-05-21 16:23] subhangi2731 commented on #88
@DARK-art108 @Rishikeshrajrxl can I work on this please assign me

[2021-05-21 16:24] subhangi2731 commented on #17
@DARK-art108 I will send the pr within 2 days please assign me

[2021-05-24 03:09] sudipg4112001 opened #107 "Covid-19 analysis from radiographic images"
I would like to add a project for classifying wheather a patient is effected by covid-19 or not.

[2021-05-24 10:23] #104 closed

[2021-05-24 10:26] NEERAJAP2001 opened #108 "Brand Classification Project"
Create a Car Brand Classification Project
Tasks:

* Uses Deep learning to detect car brands
* I'm assuming to solve this using resnet50( transfer learning ) but let's see how it goes.
* Dataset consists of Images of 3 different brands ( I'll give the dataset for download in a separate folder)

I'd Like to work on this issue as part of the GSSOC-21

[2021-05-25 14:18] NEERAJAP2001 commented on #108
@rajpratyush  @Rishikeshrajrxl  any updates can I work on this?

[2021-05-26 09:23] #107 closed

[2021-05-26 14:12] DARK-art108 commented on #108
@NEERAJAP2001 please go ahead!

[2021-05-26 14:14] DARK-art108 commented on #103
Any Updates! @subhangi2731

[2021-05-26 14:14] DARK-art108 commented on #102
Any Updates!

[2021-05-26 14:18] DARK-art108 opened #110 "Add Facebook BART custom training on Quora Paraphrase Dataset!"
Need a Custom Training on BART, utilize simple transformer!

We do not need fine-tuning!

[2021-05-26 14:22] DARK-art108 opened #111 "Add Vision Transformer [ViT] for Image Classification!"
You can use Fast.ai with Timm models to train on any image classification dataset!

[2021-05-26 20:02] sudipg4112001 opened #112 "Heart disease prediction"
Would like to add a project for heart attack analysis.

[2021-05-27 02:28] ainy-123 commented on #102
Yes, I will raise PR today.

[2021-05-27 04:25] ainy-123 commented on #111
I want to work on this under GSSoC'21. Will you please assign this to me?

[2021-05-27 11:23] NEERAJAP2001 opened #114 "Cotton Disease Prediction using Deep Learning"
Tasks:

Uses Deep learning to detect diseases on cotton plants.
* I'm assuming to solve this using transfer learning.
* Dataset consists of Images of 3 different brands ( I'll give the dataset for download in a separate folder).
* Build an End to End Web-application with flask as backend.

I'd Like to work on this issue as part of GSSOC-21.

[2021-05-28 03:30] #89 closed

[2021-05-28 03:33] ainy-123 commented on #110
I want to work on this issue under GSSoC'21. Will you please assign this to me?

[2021-05-28 03:45] #108 closed

[2021-05-28 03:51] ainy-123 opened #118 "Implement Zero Shot Classification for Sentence classification."
It will be able to make prediction on a sentence and classify which category it belongs to.

I want to work on this issue under GSSoC'21.
Will you please assign this to me? @DARK-art108 @rajpratyush @Rishikeshrajrxl

[2021-05-28 13:28] #111 closed

[2021-05-28 14:38] NEERAJAP2001 opened #120 "Add Face Verification using Deep Learning"
Face Verification: This is done using the Facet model. Used a trained facnet model to compare the captured image with images in the database to verify a person's face.
Reference:
Paper : [Here](https://arxiv.org/pdf/1503.03832.pdf)
MTCN Pretrained Model: [Here](https://github.com/ipazc/mtcnn)
FaceNet Pretrained Model: [Here](https://drive.google.com/file/d/0B5MzpY9kBtDVZ2RpVDYwWmxoSUk)

I'd Like t

[2021-05-28 18:11] #93 closed

[2021-05-29 03:09] sudipg4112001 opened #123 "QR Code scanner"
I would like to add a QR Code scanner using NLP.
Using sample images for training the model.

[2021-05-29 04:07] ainy-123 opened #124 "Implement MBart Multilingual Translation"
I want to work on this issue under GSSoC'21.
Kindly assign me the same .@DARK-art108 @rajpratyush @Rishikeshrajrxl

[2021-05-29 04:11] ainy-123 opened #125 "Implement Automatic Speech Recognition system"
I want to work on this issue under GSSoC'21.
Kindly assign me the same . @DARK-art108 @rajpratyush @Rishikeshrajrxl

[2021-05-29 04:58] NEERAJAP2001 opened #126 "Add Face Mask Detection using YoloV4"
Alert System: It monitors the mask, no-mask counts and has 3 status :

* Safe : When all people are with mask.
* Warning : When atleast 1 person is without mask.
* Danger : When some ratio of people are without mask.
Details of model will be given in the Readme File

I'd like to work as part of gssoc21

[2021-05-29 11:31] ainy-123 opened #129 "Implement Automatic Text-summarizer system"
I want to work on this issue under GSSoC'21.
Kindly assign me the same. @rajpratyush @Rishikeshrajrxl @DARK-art108

[2021-05-29 14:06] ainy-123 opened #132 "Implement Sentiment Analysis using TextClassification Pipeline"
I want to work on this issue under GSSoC'21.
Kindly assign me the same. @rajpratyush @Rishikeshrajrxl @DARK-art108

[2021-05-30 00:27] #129 closed

[2021-05-30 02:12] ainy-123 opened #134 "Implement Sentiment Analysis using Naive Baye's Classifier"
I want to work on this issue under GSSoC'21.
Kindly assign me the same . @rajpratyush @Rishikeshrajrxl @DARK-art108

[2021-05-30 03:52] ainy-123 opened #136 "Generate Blog post with a sentence."
I want to use GPT2 and transformers to generate a blog post ,when a single sentence is given as input.

[2021-05-30 03:53] ainy-123 commented on #136
I want to work on this issue under GSSoC'21.
Kindly assign me the same. @rajpratyush @Rishikeshrajrxl @DARK-art108

[2021-05-30 04:36] noviicee opened #137 "Background Subtraction from images using GrabCut Algorithm"
**Is your feature request related to a problem? Please describe.**
Demonstrating use of opencv technique of bg subraction.

GrabCut is any technique which allows an image’s background to be removed or foreground to be extracted for further processing like object recognition, tracking, etc.

[GSSOC'21]

[2021-05-30 07:13] NEERAJAP2001 opened #139 "Add Face Mask Detection using Yolo V5"
* The dataset used for training the yolov5 is from roboflow.ai
* I'd like to work as part of gssoc21

[2021-05-30 16:08] #139 closed

[2021-05-30 16:10] #88 closed

[2021-05-30 16:11] #120 closed

[2021-05-30 16:13] #112 closed

[2021-05-31 00:49] ainy-123 opened #143 "Implement text to speech conversion."
**Is your feature request related to a problem? Please describe.**
want to Implement text to speech conversion system.

**Describe the solution you'd like**
I would like to use gtts package to implement this.

[2021-05-31 00:50] ainy-123 commented on #143
I want to work on this issue under GSSoC'21. Kindly assign me the same. @rajpratyush @Rishikeshrajrxl @DARK-art108

[2021-05-31 01:32] #123 closed

[2021-05-31 06:00] NEERAJAP2001 opened #146 "Face Mask Detection using Xception"
Mask detection model can be said to be a combination of classification and face detection model. For the purpose of classification, we use transfer learning with an Xception model trained on the ImageNet dataset with a modified final fully connected layers.

[2021-05-31 10:35] ainy-123 opened #148 "Implement a system to predict answer of fill in the blanks."
Want to deploy fill mask pipeline of transformers from hugging face to implement this.

I want to work on this issue under GSSoC'21. Kindly assign me the same. @rajpratyush @Rishikeshrajrxl @DARK-art108

[2021-05-31 14:47] ainy-123 opened #151 "Implement Question-Answering Pipeline"
I want to work on this issue under GSSoC'21.
Kindly assign this issue to me. @rajpratyush @Rishikeshrajrxl @DARK-art108

[2021-05-31 16:24] ainy-123 opened #153 "Implement text generation pipeline with GPT-Neo"
I want to work on this issue under GSSoC'21.
Kindly assign me the same. @rajpratyush

[2021-05-31 17:14] ainy-123 opened #155 "Name Entity Recognition using token-classification pipeline."
**Is your feature request related to a problem? Please describe.**
Want to implement the same using the pre-trained BERT model.

**Describe the solution you'd like**
It will be able to tokenize person, location, organization etc in a given input sentence.

I want to work on this issue under GSSoC'21.
Kindly assign this to me. @rajpratyush

[2021-05-31 17:37] #137 closed

[2021-05-31 17:39] #146 closed

[2021-06-06 04:21] #114 closed

[2021-06-09 10:36] #126 closed

[2022-09-10 15:55] h20200051 commented on #132
want to work on this issue under GSSoC'21.
Kindly assign me the same. @rajpratyush @Rishikeshrajrxl @DARK-art108

[2022-09-10 15:56] h20200051 commented on #132
I want to work on this issue under GSSoC'21.
Kindly assign me the same. @rajpratyush  @Rishikeshrajrxl @DARK-art108